.header {
    display: flex;
    padding: 5% 0;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--border-header);
}

.header__titulo {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--font-fondos-oscuros);
}

.header__link {
    text-decoration: none;
    color: var(--font-fondos-oscuros);
    display: none;
}

.header__link:hover {
    color: var(--font-fondos-claros);
    transition: .3s;
}

.header__link-email {
    display: block;
    color: var(--font-fondos-oscuros);
    font-weight: 500;
    font-size: .95rem;
}

.link-space {
    padding-left: 8px;
}

@media screen and (min-width: 768px) {
    .header {
        padding: 3% 25px;
        justify-content: space-between;
    }

}

@media screen and (min-width: 1024px) {
    .header__link {
        padding-left: 25px;
        display: inline-block;
    }

    .header__link-email {
        font-weight: 700;
    }
}