.hobbies {
    padding-top: 3%;
    padding-bottom: 5%;
}

.hobbies__titulo {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--font-fondos-claros);
    margin-bottom: 15px;
}

.hobbies__contenido {
    display: flex;
    flex-wrap: wrap;
}

.hobbies__contenido-contenedor {
    display: flex;
    align-items: flex-end;
    height: 100px;
    width: 39%;
    margin: 2%;
    padding: 10px;
    background-color: var(--background-cards-blanco);
    box-shadow: 2px 2px 2px #ccc;
}

.hobbies__contenido-caja {
    color: var(--font-fondos-claros);
    font-weight: 700;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

.hobbies__contenido-caja img {
    width: 25px;
    height: 25px;
}

@media screen and (min-width: 768px) {
    .hobbies__contenido-contenedor {
        width: 24%;
        padding: 15px;
    }
}

@media screen and (min-width: 1024px) {

}