@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #494949;
    font-family: sans-serif;
    margin-bottom: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vw;
}